html {
  overflow-y: scroll;
  box-sizing: border-box;
}

#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(221, 220, 220);
}

body {
  margin: 0;
  background-color: rgb(72, 72, 72);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #414141;
  color: white;
  cursor: pointer;
}

button:active {
  outline: 4px auto -webkit-focus-ring-color;
}

.input-field-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input-field {
  padding: 8px;
  font-size: 16px;
  align-self: center;
}
.input-field-button {
  padding: 8px 15px;
  font-size: 16px;
  margin-left: 5px;
}
.input-and-button-flex {
  display: flex;
  align-items: flex-end;
}

.input-field-suggestions {
  width: 11vw;
  background-color: white;
  position: absolute;
  padding: 0;
  margin-top: 55px;
  margin-right: 100px;
  border: 1px solid black;
  list-style: none;
  padding: "5px";
  width: "200px";
  background: "white";
  position: "absolute";
  text-align: center;
  z-index: 10;
}

.time-card-container {
  background-color: rgb(231, 231, 231);
  margin: 0 auto;
  padding: 3px;
  width: 75%;
}

.time-zone-container {
  background-color: rgb(247, 247, 247);
  margin: 0 auto;
  padding: 0vh 1vw;

  text-align: left;
  border-bottom: 1px solid rgb(169, 169, 169);
}

.time-zone-card {
  padding: 0.8vh 0.3vw;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.time-zone-card h2 {
  font-size: 1.03em;
}

.time-zone-card p {
  font-size: 0.85em;
}

.time-zone-card h2,
p {
  margin: 0;
  padding: 0;
}

.time-zone-card p {
  margin-top: -1px;
}

.city-and-day {
  display: grid;
  grid-template-columns: 10vw auto;
  align-items: center;
  text-align: left;
  gap: 1vw;
}
.favorite-button {
  padding: 2px 7px;
  font-size: 18px;
  cursor: "pointer";
  border: "none";
  border-radius: 8px;
}
.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}

.navbar-container {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  padding: 0.7vh 3vh;
  margin: 0 auto;
  margin-bottom: 4vh;
  position: relative;
  top: -10px;
}

.navbar-container h1,
.navbar-container p {
  margin: 0;
  padding: 0;
}
.navbar-container h1 {
  font-size: 1.4rem;
}
.navbar-container p {
  font-size: 0.85rem;
  margin-top: -5px;
}

.logo-container {
  text-align: left;
}

.nav-links {
  display: flex;
  gap: 2vw;
  position: relative;
  right: 4vw;
}
.nav-links a {
  color: black;
  font-weight: 600;
}

.time-list-header {
  background-color: rgb(62, 61, 61);
  width: 75.5%;
  margin: 0 auto;
  color: white;
  padding: 0.005vh 0vh;
}
.time-list-header h2 {
  font-weight: 400;
  text-align: left;
  padding: 0vh 3vh;
}

.logo-clock-icon {
  float: left;
  margin-top: 9px;
  font-size: 18px;
}
